<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>

<body onload="displayAll()">
    <div id="left">
        <h1>TASK LIST</h1>
        <p>Add tasks to your list by typing to the right and pressing enter. You may then view pending tasks below.</p>
        <div id="list">
            
        </div>
        
    </div>
    <input placeholder="I need to do..." id="task" />
</body>
<script src="script.js"></script>
</html>